$backgroundColor:#FFFFF7; 
$coffteaThemeColor:#483123;
$coffteaNormalText:#5B4B27;
$copyRightBg:#150e0a;
$footercontentbg:#291a12;
$goldenfallenleaves:#E29C45;
$creamcan:#F5D76E;
$gallery:#EEEEEE;
@-moz-keyframes slideshowAnimation {
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3287.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3461.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3462.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3464.JPG");
	}
}
@keyframes slideshowAnimation{
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3287.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3461.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3462.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3464.JPG");
	}
}


@-moz-keyframes bannerslideshowAnimation {
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3601.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3638.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3587.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3618.JPG");
	}
}
@-webkit-keyframes bannerslideshowAnimation {
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3601.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3638.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3587.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3618.JPG");
	}

}
@-o-keyframes bannerslideshowAnimation {
	0% {
		background-image: url("../img/slideshow/_MG_3645.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3609.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3440.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3300.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3243.JPG");
	}

}
@-ms-keyframes bannerslideshowAnimation {
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3601.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3638.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3587.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3618.JPG");
	}

}
@keyframes bannerslideshowAnimation{
	0% {
		background-image: url("../img/slideshow/_MG_3460.JPG");
	}
	25% {
		background-image: url("../img/slideshow/_MG_3601.JPG");
	}
	50% {
		background-image: url("../img/slideshow/_MG_3638.JPG");
	}
	75% {
		background-image: url("../img/slideshow/_MG_3587.JPG");
	}
	100% {
		background-image: url("../img/slideshow/_MG_3618.JPG");
	}
}
* , p {
	font-family:"roboto" , arial , helvetica , sans-serif;
}
a , a:visited  ,a:hover , a:focus , a:active {
	 outline: 0;
}
@mixin transitionConfiguration($function , $timer) {
	-webkit-transition:$function  $timer;
	-ms-transition:$function  $timer;
	-o-transition:$function  $timer;
	-moz-transition:$function $timer;
	transition:$function $timer;
}
@mixin boxShadow($propertyOne , $propertyTwo , $propertyThree , $color) {
	-ms-box-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-webkit-box-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-moz-box-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-o-box-shadow:$propertyOne $propertyTwo $propertyThree $color;
	box-shadow:$propertyOne $propertyTwo $propertyThree $color;
}
@mixin textShadow($propertyOne , $propertyTwo , $propertyThree , $color) {
	-ms-text-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-webkit-text-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-moz-text-shadow:$propertyOne $propertyTwo $propertyThree $color;
	-o-text-shadow:$propertyOne $propertyTwo $propertyThree $color;
	text-shadow:$propertyOne $propertyTwo $propertyThree $color;
}
html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	max-height: 100%;
	box-sizing: border-box;
}

#container { 
	width: 100%;
	height: 100%;
	background-color :$backgroundColor;
	font-family: Arial , helvetica ,sans-serif;
	font-size: 1em;
	header {
		position: relative;
		width: 100%;
		height: 60px;
		background-color: /* $creamcan */ $coffteaThemeColor;
		box-shadow: 0px 0px 10px #000;
		#logocontainer {
			float: left;
			height: inherit;
			padding-left:20px;
			margin: 0;
			background-color: /* $creamcan */ $coffteaThemeColor;
			img {
				position: absolute;
				height: 110px;
				width: 110px;
			}
		}
		#navbar {
			height: inherit;
			position: relative;
			margin-right: 6%;
			float: right;
			
			ul {
				height: 100%;

				li {
					list-style-type: none;
					background-color: /*$creamcan*/ $coffteaThemeColor;
					height: inherit;
					display: inline-block;
					font-family: "roboto" , arial ,helvetica ,sans-serif;
					float: left;
					// border :1px solid black;
					padding: 15px;
					padding-top: 20px;
					a{
						text-decoration: none;
						color:whitesmoke;
						
						text-transform: uppercase;
						-webkit-transition: linear .2s;
						-moz-transition: linear .2s;
						-o-transition: linear .2s;
						transition: linear .2s;
						&:hover {
							color:$creamcan;
						}
					}
				}
			}
		}
	}
	#bannerimg {
		height: 380px;
		width: 100%;
		padding-top: 340px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		/* -moz-animation-name: slideshowAnimation; 
		-moz-animation-duration: 25s; 
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-webkit-animation-name: slideshowAnimation; 
		-webkit-animation-duration: 25s; 
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-o-animation-name: slideshowAnimation; 
		-o-animation-duration: 25s; 
		-o-animation-iteration-count: infinite;
		-o-animation-timing-function: linear;
		-khtml-animation-name: slideshowAnimation; 
		-khtml-animation-duration: 25s; 
		-khtml-animation-iteration-count: infinite;
		-khtml-animation-timing-function: linear;
		-ms-animation-name: slideshowAnimation; 
		-ms-animation-duration: 25s; 
		-ms-animation-iteration-count: infinite;
		-ms-animation-timing-function: linear;  
		animation-name: slideshowAnimation;
		animation-duration: 15s;
		animation-iteration-count: infinite;
		animation-timing-function: linear; */
	/* 	&:hover {
		-moz-animation-play-state:paused;
		animation-play-state:paused;
	} */
		#intro {
			width: inherit;
			height: inherit;
			margin: 0;
			text-align: center;
			color:$backgroundColor;
			line-height: 380%;
			@include textShadow(0px, 0px, 15px, #000);
			opacity: 0.3;
			@include transitionConfiguration(linear , 1s);
			&:hover {
				opacity: 1;
			}
			h2 {
				padding-top: 15%;
				font-size:350%;
			}
			h3 {
				font-size: 180%;
			}
		}
	}
	.missionandvission {
		width: 100%;
		border: 1px solid black;
		background-color:$gallery;
		padding:1.5em;
		height: 410px;
		.missionandvisioncontainer {
			width: 100%;
			height: 250px;
			margin: 10px auto;
			text-align:center;
			padding-top: 0px;
			padding-bottom: 20px;
			.misssionvissiontitle {
				height: 70px;
				/* border: 1px solid black; */
				padding: 10px;
				margin-bottom: 10px;
				h3 {
					margin: 0px;
					font-size: 2em;
					height: 100%;
				}
				.content {
					line-height: 1em;
				}
			}
		}
		#vission {
			height: 130px;
		}
		#mission {
			height: 185px;
		}
	}
	.welcomeintro {
		/* border: 1px solid black; */
		padding: 0;
		height: 500px;
		width: inherit;
		.imgWelcomeandtxtwelcomecont {
			height: inherit;
			width: inherit;
			/* border:1px solid red; */
			padding: 15px;
			padding-top: 50px;
			#imgWelcome {
				width: 40%;
				margin-left:40px;
				float: left;
				background-image:url("../img/pexels-photo-349609.jpeg");
				@include boxShadow(0px, 0px, 10px, #000);
				background-size: 100% 100%;
				background-position: center;
				background-repeat: no-repeat;
				text-align: center;
				height:400px;
				p {
					display:block;
					font-size: 2em;
					color:$backgroundColor;
					@include textShadow(0px, 0px, 5px, #000);
					text-align: center;
					font-size: 2.5em;
					margin-top: 120px;
				}
				a{
					display: block;
					text-decoration: none;
					color: #2a2a2a;
					height: 50px;
					padding:10px;
					padding-top: 13px;
					border: 3px solid white;
					margin:0 auto;
					margin-top: 90px;
					width: 120px;
					@include boxShadow(0px , 0px , 5px, #2a2a2a);
					@include textShadow(0px, 0px, 5px, #000);
					@include transitionConfiguration(linear , .5s);
					&:hover {
						border: 3px solid $coffteaThemeColor;
						text-shadow:none;
						color: $coffteaThemeColor;
						font-weight: bold;
					}
				}
			}
			#txtwelcome {
				width: 40%;
				padding: 10px;
				padding-top: 0;
				margin-right: 90px;
				margin-top: 90px;
				float: right;
				text-align:center;
				h1 {
					text-align: center;
					margin-top: 0px;
					font-size: 2.5em;
				}
				.txtintro > p  {
					text-align: justify;
					font-size: 140%;
					line-height: 140%;
				}
			}
		}
	}
	footer#footercontainer {
		font-family: "roboto" , geneva, tahoma , Helvetica , Arial , sans-serif;
		box-shadow: 0px, 0px , 5px, #000;
		padding: 0;
		width: inherit;
		font-family: "roboto" , arial , sans-serif;
		height: 240px;
		// border: 1px solid black;
		background-color: whitesmoke;
		color:#2a2a2a;
		#footerinfoscontent {
			height: 190px;
			width: 100%;
			color: #1a1a1a;
			opacity: 0.5;
			background-color: #f9e09e;
			@include textShadow(0px , 0px , 1px , #6a6a6a);
			.footerdinfodevider {
				height: inherit;
				//border: 1px solid black;
				width: 33.25%;
				float: left;
				.footericon {
					width: 70px;
					height: 70px;
					margin: 0 auto;
					border-bottom: 1px solid black;
				}
				.footertitle {
					width:100%;
					margin-top: 20px;
					text-align: center;
					font-size: 1em;
					h3 {
						width: 100%;
						height: 100%;
					}
				}
				.footeraddress {
					margin: 0 auto;
					margin-top:20px; 
					font-size: 1em;
					text-align: center;
				}
				.contact {
					margin-top:20px;
					font-size: 1em;
					text-align: center;
					p {
						width: 50%;
						float: right;
					}
				}
				.followicons {
					margin-top: 20px;
					p {
						font-size: 1em;
					}
				}
			}
		}
		#copyrightcontainer {
			height: 50px;
			width: inherit;
			text-align: center;
			opacity:0.8;
			background-color: #522602;
			//@include textShadow(0px, 0px, 5px, #2a2a2a);
			color:whitesmoke;
			margin: 0;
			p {
				margin-top: 13px;
				display: inline-block;
				background-color: inherit;
				@include textShadow(0px , 0px , 10px , #000);
			}
		}
	}
}


/*contact us page specific style*/

.contactusinfo {
	width: 100%;
	height: auto;
	//border: 1px solid black;
	.contactusbanner {
		height: 350px;
		width: 100%;
		background-color: red;
		padding-top: 20%;
		.contactustxt {
			width: 100%;
			font-size: 2em;
			padding-left: 1em;
		}
	}
	.contactcontainer {
		padding: 20px;
		padding-top: 60px;
		width: 100%;
		height: 700px;
		//border: 1px solid black;
		background-image: url("../img/pexels-photo-266046.jpeg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		#forinquiries {
			width: 35%;
			float: left;
			border: 1px solid lightgray;
			opacity: 0.8;
			clear: left;
			padding: 30px;
			margin-left: 9%;
			@include boxShadow(0px , 0px , 5px , #2a2a2a);
			form {
				width: 100%;
				height: 100%;

				.fillupname {
					margin-bottom: 10px;
					margin-top: 10px;
					font-size: 1em;
					font-weight: bold;
					color:#000;
				}
				input {
					padding:5px;
					width: 100%;
					@include transitionConfiguration(linear , .2s);
				}
				input:focus {
					@include boxShadow(0px , 0px , 2px , #000);
				}
				input[type="submit"] {
					outline: none;
				} 
				input[type="submit"]:hover {
					@include boxShadow(0px , 0px , 2px , #000);
				}
				textarea {
					resize:none;
					width: 100%;
					padding: 5px;
				}
			}
		}
		#contactinfotxt {
			float: right;
			border: 1px solid black;
			height: 500px;
			padding: 10px;
			width: 35%;
			margin-right: 10%;
			opacity: 0.8;
			padding-top: 60px;
			.infodivider {
				height: 35%;
				width: 100%;
				text-align: center;
				line-height: 140%;
				.title {
					text-align: center;
					margin-bottom: 20px;
				}
			}
			
		}
	}
	#location {
		width: 100%;
		height: 400px;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
	#emailcontainer {
		width: 100%;
		height: auto;
		border: 1px solid black;
		.titleandesc {
			height: 20%;
			border-bottom:1px solid black;
			div {
				width: 100%;
				text-align: center;
			}
			.emailtitle {
				font-size: 2em;
				margin-top: 1.5em;
			}
			.emaildescription {
				margin-top: .5em;
				font-size: 1.5em;
			}
		}
		.updates{
			width: 100%;
			padding-bottom: 10px;
			padding-top: 20px;
			form {
				width:509px;
				margin: 0 auto;
				height: 100%;
				input {
					padding: 7px;

					display: inline-block;
				}
				input[type="email"] {
					margin-right: 100px;
					width: 250px;
					@include transitionConfiguration(linear , .2s);
				}
				input[type="email"]:focus {
					@include boxShadow(0px , 0px , 5px , gray);
				}
			}
		}
	}
}

/* about us stylesheet */
.aboutusbanner {
	height: 350px;
	width: 100%;
	padding-top: 15%;
	.aboutustxt {
		width: 100%;
		font-size: 24px;
		
		padding-left: 1em;
		h1 {
			opacity: 0.7;
			color:whitesmoke;
			width: 100%;
			height: 100%;
		}
	}
}

#aboutuscontainer {
	width: 100%;
	margin: 0;
	height: auto;
	

	#missionandvisioncont {
		width: 100%;
		height: auto;
		border: 1px solid black;
		
		.missionandvision {
			width: 90%;
			
			//border: 1px solid black;
			margin:30px;
			margin-left: auto;
			margin-right: auto;
			height: 50%;
			.missionandvissiontitle {
				width: 100%;
				height: 50px;
				//border-bottom: 1px solid black;
				text-align: center;
				h3 {
					width: 100%;
					height: 100%;
					font-size: 2em;
				}
			}
			.missionandvissiondesc {
				width: 100%;
				height: 100%;
				padding: 15px;
				text-align: center;
				p {
					width: 100%;
					height: 100%;
					line-height: 140%;
				}
			}
		}
		.missionandvision:first-child {
			margin-bottom: 10px;
		}
		.missionandvision:last-child {
			margin-top: 0;
		}

	}
	#historyandabout {
		height: auto;
		width: 100%;
		border: 1px solid black;
		.historyandaboutdevider {
			height: 400px;
			width: 100%;
			border: 1px solid black;
			padding: 30px;
			.size {
				width:50%;
				height: 100%;
				border: 1px solid black;
				padding: 25px;
			}
			.left {
				float: left;
			}
			.right {
				float:right;
			}
			.imagehistory {
				img {
					width: 100%;
					height: 100%;
					border: 1px solid $gallery;
					display: block;
					@include transitionConfiguration(linear , .2s);
					@include boxShadow(0px , 0px , 5px , #1a1a1a);
					&:hover {
						border: 3px solid $gallery;
						@include boxShadow(0px, 0px , 15px, #1a1a1a);
					}
				}
			}
			.historytxt {
				text-align: center;
				line-height: 140%;	
			}
			.historytitle {
				font-size: 1.6em;
				margin-bottom: 25px;
				h3 {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
/* menu page style */

/* #menucontainer {
	width: 100%;
	border: 1px solid black;
	height: 2000px;
	.border {
		border:1px solid black;
	}
	#drinkscontainer {
		width: inherit;
		height: 50%;
		border-bottom: 1px solid black;
		#hotdrinks {
			height: 400px;
			width: 300px;
			float: left;
			padding:10px;
			padding-top: 50px;
			.titleandprice {
				height: 30px;
				width: 100%;
				border: 1px solid black;
				h3 {
					float: left;
				}
				h4 {
					float: right;
					margin-right: 20px;
				}
			}
			ul {
				float: left;
				list-style-type: none;
				line-height: 140%;
			}
			ul:last-child {
				margin-left: 15%;
			}
		}


		#icedcoffee {
			width: 342px;
			height: 300px;
			float: left;
			padding:10px;
			padding-top: 50px;
			h3 {
				width: 100%;
				border: 1px solid black;
			}
			.titleandprice {
				height: 30px;
				width: 100%;
				border: 1px solid black;
				h4 {
					float: right;
				}
				h4:first-child {
					margin-right: 15px;
					margin-left: 5px;
				}
				h4:last-child {
					margin-left: 10px;
				}
			}
			.icecoffecon {
				border: 1px solid black;
				margin-top: 30px;
				width: 100%;
				padding: 0px;
				height: 70%;
				margin-top: 10px;
				ul {
					float: left;
					list-style-type: none;
					line-height: 140%;
					border: 1px solid black;
				}
				.prices12oz {
					margin-left: 5px;
				}
				.prices16oz {
					margin-left: 10px;
				}
			}
		}
		#frapuccino {
			width: 335px;
			height: 300px;
			border: 1px solid black;
			float: left;
			padding:10px;
			padding-top: 50px;
			h3 {
				width: 100%;
				border: 1px solid black;
			}
			.titleandprice {
				height: 30px;
				width: 100%;
				border: 1px solid black;
				h4 {
					float: right;
				}
				h4:first-child {
					margin-right: 15px;
					margin-left: 15px;
				}
				h4:last-child {
					margin-left: 5px;
				}
			}
			.frapuccinocon {
				border: 1px solid black;
				margin-top: 30px;
				width: 100%;
				padding: 0px;
				height: 70%;
				margin-top: 10px;
				ul {
					float: left;
					list-style-type: none;
					line-height: 140%;
					border: 1px solid black;
				}
				.prices12oz {
					margin-left: 15px;
				}
				.prices16oz {
					margin-left: 10px;
				}
			}
		}



		#signaturedrinks {
			width: 370px;
			height: 550px;
			border: 1px solid black;
			float: right;
			margin: 0;
			padding:10px;
			padding-top: 50px;
			h3 {
				width: 100%;
				border: 1px solid black;
			}
			.titleandprice {
				height: 30px;
				width: 100%;
				border: 1px solid black;
				h4 {
					float: right;
				}
				h4:first-child {
					margin-right: 15px;
					margin-left: 15px;
				}
				h4:last-child {
					margin-left: 5px;
				}
			}
			.signaturedrinkscon {
				border: 1px solid black;
				margin-top: 30px;
				width: 100%;
				padding: 0px;
				height: 88%;
				margin-top: 10px;
				ul {
					float: left;
					list-style-type: none;
					line-height: 140%;
					border: 1px solid black;
				}
				.prices12oz {
					margin-left: 15px;
					margin-right: 5px;
				}
				.prices16oz {
					margin-left: 10px;
					margin-right: 5px;
				}
			}
		}
		#italiansoda {
			width: 300px;
			height: 350px;
			border: 1px solid black;
			margin: 0;
			padding:10px;
			clear: left;
			float: left;
			padding-top: 50px;
			h3 {
				width: 100%;
				border: 1px solid black;
			}
			.italiansodacon {
				border: 1px solid black;
				margin-top: 30px;
				width: 100%;
				padding: 0px;
				height: 88%;
				margin-top: 10px;
				ul {
					float: left;
					list-style-type: none;
					line-height: 140%;
					border: 1px solid black;
				}
				.price {
					margin-left:35%;
				}
			}
		}
	}
}
 */
/* services styles */

#eventscontainer {
	.eventstitle {
		width: 100%;
		margin-top: 100px;
		padding:10px;
		text-align: center;
		margin-bottom: 50px;
		font-size: 1.5em;
	}
	#centering {
		width: 80%;
		padding:10px;
		border: 1px solid black;
		margin: 0 auto;
		.separator {
			width: 100%;
			height: 50%;
			border: 1px solid black;
			.eventsimg {
				width: 100%;
				height: 30%;
				@include boxShadow(0px, 0px, 10px, #2a2a2a);
				@include transitionConfiguration(ease-in , .2s);
				&:hover {
					@include boxShadow(0px, 0px, 15px, #2a2a2a);
				}
				figure {
					width: 100%;
					height: 450px;
					margin:0;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 100% 100%;
					
				}
			}
			#martinazimg {
				figure {
					background-image: url("../img/_MG_3619.JPG");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
			}
			h3 {
				margin-top: 10px;
				padding: 15px;
				font-size: 1.5em;
				text-align: center;
			}
			.prices {
				width: 49.70%;
				margin: 0;
				margin-top: 50px;
				height: 200px;
				display: inline-block;
				margin-bottom: 30px;
				h4 {
					text-align: center;

				}
				dl {
					padding: 10px;
					padding-top: 15px;
					padding-left: 15px;
					dt {
						padding-bottom: 5px;
						font-weight: bold;
					}
					dd {
						padding-left: 35px;
					}
				}
			}
			.prices:first-child {
				border: 1px solid black;
			}
			.prices:last-child {
				border: 1px solid black;
			}
		}
	}
}

/* gallery stylesheet */
@mixin galleryconfig {
	background-position: center;
	background-size:100% 100%;
	background-repeat: no-repeat;
	border: 3px solid $copyRightBg;
	@include boxShadow(0px, 0px , 10px , #1a1a1a);
	@include transitionConfiguration(linear , .5s);
}

#gallerycontainer {
	background-color:$backgroundColor;
	color:$backgroundColor;
	text-transform: capitalize;
	width: 100%;
	height: auto;
	/* #gallerytitle {
		width: 100%;
		height: 50px;
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
		@include textShadow(0px, 0px , 10px, #2a2a2a);
		background-color: #1a1a1a;
		h1 {
			background-color: #1a1a1a;
			width: 100%;
			text-transform: capitalize;
			margin: 0;
			height: 100%;
		}
	} */
	.compartment {
		padding: 20px;
		width: 100%;
		height: 50%;
		a {
			outline: none;
			height: 300px;
			width: 49.0%;
			text-decoration: none;
			display: inline-block;
			margin:0 auto;
			.category {
				width: 100%;
				height: 100%;
				margin: 0;
				h2 {
					text-decoration: none;
					color:$backgroundColor;
					width: 100%;
					margin-top:37.34%;
					background-color:$copyRightBg;
					padding-top: 15px;
					padding-bottom: 15px;
					text-align: center;
					@include textShadow(0px, 0px, 10px, #2a2a2a);
				}
				&:hover {

				}
			}
			#facilitiesgallery {
				background-image:url("../img/_MG_3638.JPG");
				@include galleryconfig;
				&:hover {
					border: 3px solid $coffteaThemeColor;
					@include boxShadow(0px, 0px , 15px , #2a2a2a);
				}
			}
			#membersgallery {
				background-image:url("../img/_MG_3467.JPG");
				@include galleryconfig;
				&:hover {
					border: 3px solid $coffteaThemeColor;
					@include boxShadow(0px, 0px , 15px , #2a2a2a);
				}
			}
			#foodsgallery {
				background-image: url("../img/_MG_3461.JPG");
				@include galleryconfig;
				&:hover {
					border: 3px solid $coffteaThemeColor;
					@include boxShadow(0px, 0px , 15px , #2a2a2a);
				}
			}
			#eventsgallery {
				background-image:url("../img/_MG_3618.JPG");
				@include galleryconfig;
				&:hover {
					border: 3px solid $coffteaThemeColor;
					@include boxShadow(0px, 0px , 15px , #2a2a2a);
				}
			}	
		}
		a:first-child {
			margin-right: 5px;
		}
		a:last-child {
			margin-left: 5px;
		}
	}
}

#ktvimg {
	figure {
		background-image: url("../img/_MG_3580.JPG");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}


.buttons {
	position:relative;
	height: 25px;
	width: 120px;
	margin: 0 auto;

	.button {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: white;
		border-radius: 100%;
		border:3px solid $goldenfallenleaves;
		&:hover {
			@include boxShadow(0px, 0px, 5px, #000);
		}
	}
}

#optionbuttoncontainer {
	width: 100%;
	height: 100px;
	//border: 1px solid black;
	background-color: whitesmoke;
	.optionbutton {
		width: 30%;
		height: 50px;
		margin: 10px;
		margin-top: 25px;
		border: 1px solid lightgray;
		display: inline-block;
		text-align: center;
		@include boxShadow(0px , 0px , 1px , #000);
		@include transitionConfiguration(linear , .2s);
		&:hover {
			background-color: $gallery;
		}
		a {
			width: 100%;
			height: 100%;
			padding-top: 15px;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			color:inherit;
			@include transitionConfiguration(linear , .2s);
			&:hover {
				color: $goldenfallenleaves;
			}
		}
	}
	.optionbutton:first-child {
		margin-left: 40px;
	}
}

#maincontainer {
	width: 100%;
	height: auto;
	background-color: rgba(255 , 255 , 255 , 0.8);
}
.newfeatured {
	width: 100%;
	height: 360px;
	border: 1px solid black;
	padding: 30px;
	background-color:whitesmoke;
	.featuredandnew {
		width: 45%;
		display: inline-block;
		height: 300px;
		border: 1px solid black;
		.featureandnewtitle {
			width: 100%;
			border-bottom: 1px solid black;
			height: 12%;
			text-align: center;
			font-size: 1.5em;
			h3 {
				width: 100%;
				height: 100%;

			}
		}
		.featureandnewimg {
			height: 88%;
			width: 100%;
			background-image: url("../img/new/whats-new-button-final.jpg");
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.featuredandnew:first-child {
		margin-left: 2%;
		margin-right: 2.5%;
	}
	.featuredandnew:last-child {
		margin-left: 2.5%;
	}
}
#featuredandnewproductcontainer {
	width: 40%;
	height: 100%;
	border:1px solid black;
	float: left;
	.newproduct {
		border:1px solid black;
		padding: 5px;
		padding-left: 15px;
		padding-right: 15px;
		height: 350px;

	}
	.featuredproduct {
		border:1px solid black;
		height: 350px;
		margin-top: 60px;
		padding: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.featuredproduct:last-child {
		margin-top: 50px;
		height: 375px;	
	}
}
.newandfeattitle {
	border-bottom: 1px solid black;
	height: 15%;
	text-transform: capitalize;
	text-align: center;
	h3 {
		height: 100%;
		font-size: 1.5em;
		width: 100%;
	}			
}
.newprodandfeatureimg {
	width: 100%;
	height:80%;
	border: 1px solid black;
	padding: 10px;
	figure {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		border: 1px solid gray;
		img {
			width: 100%;
			height: 100%;

		}
	}
}
#bestsellercontainer {
	height: auto;
	width: 60%;
	display: inline-block;
	border: 1px solid black;
	background-color: rgba(255 , 255 , 255 , 0.8);
	.bestsellerdevider {
		
		width:100%;
		border: 1px solid black;
		height: 1202px;
		margin: 0;
		.bestsellertitle {
			background-color: #C3272B;
			color:whitesmoke;
			@include boxShadow(0px, 0px , 5px, #1a1a1a);
			width: 100%;
			height: 70px;
			font-size: 1.5em;
			text-align: center;
			//border: 1px solid black;
			margin-bottom: 20px;
			h3 {
				width: 100%;
				height: 100%;
				padding-top: 15px;
			}
		}
		.seller {
			width: 43%;
			float: left;
			height: 200px;
			
			@include boxShadow(0px , 0px , 10px , #3a3a3a);
			background-color:rgba(255 , 255 ,255 , 0.9);
			margin: 10px;
			margin-left: 40px;
			padding: 10px;
			@include transitionConfiguration(linear , .2s);
			&:hover {
					background-color: #E68364;
					@include boxShadow(0px , 0px , 10px , #2a2a2a);
			}
			figure {
				
				width: 100%;
				height: 100%;
				margin: 0 auto;
				img {
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}
#menubannercontainer {
	height: 420px;
	width: 100%;
	border: 1px solid black;
	#caption {
		margin-top: 23%;
		text-align: left;
		font-size: 1.5em;
		width: 100%;
		opacity: 0.6;
		h1 {
			height: 100%;
			color: whitesmoke;
			padding-left: 5%;
			width: 100%;
			@include textShadow(0px , 0px , 5px , #000);
			letter-spacing: 1px;
		}
	}
}
.lagomenubanner {
	background-image: url("../img/bannerimg/20171022_140852.jpg");
	background-repeat: no-respeat;
	background-position: center;
	background-size: 100% 100%;
}
.coffteabanner {
	background-image: url("../img/bannerimg/coffee-cup-theme-coffee-80431 - Copy.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.aboutusbanner {
	background-image: url("../img/bannerimg/lagocofftea.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
#menucontainer {
	.menucategory {
		width: 100%;
		height: 100px;
		border: 1px solid black;
		.category {
			width: 30%;
			height: 50px;
			margin: 10px;
			margin-top: 25px;
			border: 1px solid black;
			display: inline-block;
			text-align: center;

			a {
				width: 100%;
				height: 100%;
				padding-top: 15px;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				color:gray;
				&:hover {
					color:$goldenfallenleaves;
				}
			}
		}
		.category:first-child {
			margin-left: 40px;
		}
	}
	width: 100%;
	height: auto;
	border:1px solid black;
	.menudevider {
		width: 100%;
		height: auto;
		//border: 1px solid black;
		.menutitle {
			margin:0;
			height: 70px;
			border: 1px solid black;
			width: 100%;
			text-align: center;
			padding-top: 25px;
			padding-bottom: 30px;
			h2 {
				width: 100%;
				font-size: 2em;
				height: 100%;
			}
		}
		.dishtitle {
			width: 100%;
			height: 50px;
			font-size: 2em;
			h3 {
				padding-top: 10px;
				width: 100%; height:100px;

				padding-left: 10px;
			}
		}
		.menudivider {
			width: 100%;
			.categorytitle {
				margin-top: 20px;
				background-color: brown;
				padding: 10px;
				text-align: center;
			}
			.dishes {
				width: 225px;
				height: 200px;
				border: 1px solid lightgray;
				margin: 15px;
				display: inline-block;
				padding-top: 155px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				@include boxShadow(0px , 0px , 10px ,  #2a2a2a);
		
				.dishtitleanddesc {
					height: 45px;
					width: 100%;
					border-top:1px solid gray;
					background-color: whitesmoke;
					text-align: center;
					opacity: 0.7;
					margin: 0;
					font-size: 1em;
					text-transform: capitalize;
					@include textShadow(0px , 0px , 5px , #1a1a1a);
					h5 {
						font-size: 1em;
					}
					p {
						font-size: .9em;
						text-transform: capitalize;
					}
		
				}
			}
		
		
			.dishone {background-image: url("../img/menus/Starter/hash brown.png");}
			.dishtwo {background-image: url("../img/menus/Starter/chicharap.jpg");}
			.dishthree{background-image: url("../img/menus/Starter/achara.jpg");}
			.dishfour {background-image: url("../img/menus/Starter/kimchi.jpg");}
			.dishfive {background-image: url("../img/menus/Starter/fries.jpg");}
			#dishsix {background-image: url("../img/menus/Starter/lumpiang shanghai.jpg");}
			.dishseven{background-image: url("../img/dishes/cofftea/starter/_MG_4357.JPG");}
			.disheigth {background-image: url("../img/menus/Starter/cheesy bacon fries.jpg");}
			.dishnine {background-image: url("../img/menus/Starter/buffalo wing.jpg");}
			.dishten { background-image: url("../img/menus/Starter/fish and fries.jpg");}
			.dish11 { background-image: url("../img/menus/Burgers and Sandwiches/chicken sandwhich.jpg"); }
			.dish12 {background-image: url("../img/menus/Burgers and Sandwiches/ham and egg sandwich.jpg");}
			.dish13 {background-image: url("../img/menus/Burgers and Sandwiches/cheese burger.jpg");}
			.dish14 {
				background-image: url("../img/dishes/cofftea/burger and sandwiches/_MG_4361.JPG");
				.dishtitleanddesc {
					h5 {
						font-size: .9em;
					}
					p {
						font-size: .8em;
						text-transform: capitalize;
					}
				}
			}
			.dish15 {background-image: url("../img/menus/Burgers and Sandwiches/midnight cheesy burger.jpg");}
			.dish16 {background-image: url("../img/dishes/cofftea/pizza/_MG_4382.JPG");}
			.dish17 {background-image: url("../img/menus/pizza/pepperoni.jpg");}
			.dish18 {
				background-image: url("../img/menus/pizza/margherita.jpg");
			}
			.dish19 {background-image: url("../img/menus/pizza/tree cheese.jpg");}
			.dish20	{background-image: url("../img/dishes/cofftea/pizza/_MG_4363.JPG");}
			.first-child {
				margin-left: 40px;
			}
			.dish21 {background-image: url("../img/menus/soup/crab and corn soup.jpg");}
			.dish22 {background-image: url("../img/menus/soup/nido soup.jpg");}
			.dish23 {background-image: url("../img/menus/soup/mashroom soup.jpg");}
			.dish24 {background-image: url("../img/menus/soup/lomi.jpg");}
			.dish25 {background-image: url("../img/menus/main course/Tapsilog.jpg");}
			.dish26 {background-image: url("../img/menus/main course/tocilog.jpg");}
			.dish27 {background-image: url("../img/menus/main course/noksilog.jpg");}
			.dish28 {background-image: url("../img/menus/main course/buttered garlic chicken.jpg");}
			.dish29 {background-image: url("../img/dishes/cofftea/main course/_MG_4259.JPG");}
		
			
			.dish30 { background-image: url("../img/menus/Hot Drinks/brewed coffee.JPG");}
			.dish31 {background-image: url("../img/menus/Hot Drinks/cafe americano.jpg");}
			.dish32 {background-image: url("../img/menus/Hot Drinks/cafe latte.jpg");}
			.dish33 {background-image: url("../img/menus/Hot Drinks/cappuccino.jpg");}
			.dish34 {background-image: url("../img/menus/Hot Drinks/Cafe_Mocha.jpg");}

			.dish35 {background-image: url("../img/menus/iced coffee/iced americano.jpg");}
			.dish36 {background-image: url("../img/menus/iced coffee/iced latte.jpeg");}
			.dish37 {background-image: url("../img/menus/iced coffee/iced mocha.jpg");}
			.dish38 {background-image: url("../img/menus/iced coffee/iced white mocha.jpg");}
			.dish39 {background-image: url("../img/menus/iced coffee/iced caramel.jpg");}

			.dish40 {background-image: url("../img/menus/frappuccino/mocha.JPG");}
			.dish41 {background-image: url("../img/menus/frappuccino/white mocha.jpg");}
			.dish42 {background-image: url("../img/menus/frappuccino/caramel.jpg");}
			.dish43 {background-image: url("../img/menus/frappuccino/tiramisu.jpg");}
			.dish44 {background-image: url("../img/menus/frappuccino/french mocha.jpg");}

			.dish45 {background-image: url("../img/menus/signature drinks/cookies and cream.jpg");}
			.dish46 {background-image: url("../img/menus/signature drinks/java chip.jpg");}
			.dish47 {background-image: url("../img/menus/signature drinks/madagascar vanilla.jpg");}
			.dish48 {background-image: url("../img/menus/signature drinks/matcha green tea.jpg");}
			.dish49 {background-image: url("../img/menus/signature drinks/dark chocolate.jpg");}

			.dish50 {background-image: url("../img/menus/itallian soda/strawberry.jpg");}
			.dish51 {background-image: url("../img/menus/itallian soda/green apple.jpg");}
			.dish52 {background-image: url("../img/menus/itallian soda/passion fruit.jpg");}
			.dish53 {background-image: url("../img/menus/itallian soda/blue raspberry.jpg");}
			.dish54 {background-image: url("../img/menus/itallian soda/mango.jpg");}
			.dish55 {background-image: url("../img/dishes/cofftea/dessert/20171022_155623.jpg");}
			.dish56 {background-image: url("../img/dishes/cofftea/dessert/20171022_155055.jpg");}
			.dish57 {background-image: url("../img/dishes/cofftea/dessert/20171022_155026.jpg");}
			.dish58 {background-image: url("../img/dishes/cofftea/dessert/20171022_154948.jpg");}
			.dish59 {background-image: url("../img/dishes/cofftea/dessert/20171022_155149.jpg");}
			.dish60 {background-image: url("../img/dishes/cofftea/dessert/_MG_3739.JPG");}
			.dish61 {background-image: url("../img/dishes/cofftea/dessert/_MG_3736.JPG");}
			.dish62 {background-image: url("../img/dishes/lago/grill station/grilled platter.jpg");}
			.dish63 {background-image: url("../img/dishes/lago/grill station/spare ribs.jpeg");}
			.dish64 {background-image: url("../img/dishes/lago/grill station/grilled liempo.jpg");}
			.dish65 {background-image: url("../img/dishes/lago/grill station/pork bbq.jpg");}
			.dish66 {background-image: url("../img/dishes/lago/grill station/tilapia.jpg");}
			.dish67 {background-image: url("../img/dishes/lago/grill station/bangus.jpg");}
			.dish68 {background-image: url("../img/dishes/lago/grill station/pusit.jpg");}
			.dish69 {background-image: url("../img/dishes/lago/grill station/tuna.jpg");}
			.dish70 {background-image: url("../img/dishes/lago/grill station/blue marlin.jpg");}
			.dish71 {background-image: url("../img/dishes/lago/grill station/chicken feet.jpg");}


			.dish72 {background-image: url("../img/dishes/lago/must try/chicken barbecue with rice.JPG");}
			.dish73 {background-image: url("../img/dishes/lago/must try/grilled liempo with rice.jpg");} 
			.dish74 {background-image: url("../img/dishes/lago/must try/2 pcs pork barbecue with rice.JPG");}
			.dish75 {background-image: url("../img/dishes/lago/must try/spare ribs with rice.jpg");}
			.dish76 {background-image: url("../img/dishes/lago/must try/_MG_4254.JPG");}
			.dish77 {background-image: url("../img/dishes/lago/must try/bagnet.jpg");}
			.dish78 {background-image: url("../img/dishes/lago/must try/_MG_4253.JPG");}
			.dish79 {background-image: url("../img/dishes/lago/must try/dynamite.jpg");}
			.dish80 {background-image: url("../img/dishes/lago/must try/chicken bbq.jpg");}
			.dish81 {background-image: url("../img/dishes/lago/must try/buffalo wing.jpg");}

			.dish82 {background-image: url("../img/dishes/lago/drinks/san mig light.jpg");}
			.dish83 {background-image: url("../img/dishes/lago/drinks/san mig flavour beer.png");}
			.dish84 {background-image: url("../img/dishes/lago/drinks/red horse stallion.jpg");}
			.dish85 {background-image: url("../img/dishes/lago/drinks/pale pilsen short.jpg");}
			.dish86 {background-image: url("../img/dishes/lago/drinks/tanduay.jpg");}
			.dish87 {background-image: url("../img/dishes/lago/drinks/san mig zero.jpg");}
			.dish88 {background-image: url("../img/dishes/lago/drinks/san mig premium.jpg");}
			.dish89 {background-image: url("../img/dishes/lago/drinks/smirnoff mule.jpg");}
			.dish90 {background-image: url("../img/dishes/lago/drinks/sprite.jpg");}
			.dish91 {background-image: url("../img/dishes/lago/drinks/mineral water.jpg");}


		}
	}
}

.servicesbanner {
	height: 350px;
	width: 100%;
	background-color: red;
	padding-top: 20%;
	.servicetxt {
		width: 100%;
		font-size: 2em;
		padding-left: 1em;
	}
}

.servicescontainer {
	height: auto;
	width: 100%;
	background-color: whitesmoke;
	.categoryoption{
		height: 100px;
		width: 100%;
		border: 1px solid black;
		.category {
			width: 30%;
			height: 50px;
			margin: 10px;
			margin-top: 25px;
			border: 1px solid lightgray;
			display: inline-block;
			text-align: center;
			@include boxShadow(0px , 0px , 1px , #000);
			@include transitionConfiguration(linear , .2s);
			@include transitionConfiguration(linear , .2s);&:hover {
				background-color: $gallery;
			}
			a {
				width: 100%;
				height: 100%;
				padding-top: 15px;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				color:#2a2a2a;
				@include transitionConfiguration(linear , .2s);
				&:hover {
					color:$goldenfallenleaves;
				}
			}
		}
		.category:first-child {
			margin-left: 40px;
		}
	}
	.genre {
		height: 520px;
		width: 100%;
		padding-top:30px;
		border-bottom: 1px solid black;
		.genrecontainer {
			width: 98%;
			margin: 0 auto;
			border:1px solid black;
			height: 100%;
			.genretitle {
				height:20%;
				width: 100%;
				border-bottom: 1px solid black;
				font-size: 2em;
			}
			.dayscontainer {
				width: 100%;
				border:1px solid black;
				height: 350px;
				padding: 5px;
				padding-bottom: 10px;
				margin: 0 auto;
				.days {
					height: 100%;
					display: inline-block;
					width: 180px;
					border: 1px solid black;
					.daystitle {
						width: 100%;
						text-align: center;
						border-bottom: 1px solid black;
						h4 {
							width: 100%; height: 100%;
							padding-top:10px;
						}
					}
					figure {
						border: 1px solid black;
						width: 100%;
						margin: 0 auto;
						height: 100%;
						img {
							width: 100%;
							height: 80%;
							background-position: center;
							background-repeat: no-repeat;
						}
						figcaption {
							text-transform: uppercase;
							text-align: center;
							margin-top: 5px;
						}
						figcaption:first-child {
							font-size: .5em;
						}

					}
				}
			}
			.days:first-child {
				margin-left: 10px;
			}
		}
	}

	.ktv {
		width: 100%;
		height: 410px;
		padding: 30px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 0px;
		padding-top: 0px;
		margin-top: 50px;
		.ktvcontainer {
			width: 100%;
			border:1px solid black;
			margin: 0 auto;
			height: 400px;
			.ktvtitle {
				width: 100%;
				height: 20%;
				border-bottom:1px solid black;
				text-align: center;
				font-size: 2em;
				h3 {
					width: 100%;
					height: 100%;
					font-size: 1.5em;
				}
			}
			.rooms {
				width: 31%;
				border: 1px solid black;
				height: 300px;
				display: inline-block;
				margin: 10px;
				padding-top: 15%;
				.roomsfigure {
					width: 120px;
					height: 50px;
					text-align: center;
					margin: 0 auto;
					border: 3px solid whitesmoke;
					@include boxShadow(0px , 0px , 5px , #000);
					a {
						width: 100%;
						height: 100%;
						display: block;
						padding-top: 10px;

						font-weight: bold;
						text-decoration: none;
						color:whitesmoke;
					}
				}
			}
			#firstroom {
				 margin-left: 20px;
				 background-image: url("../img/ktv/room 1.JPG");
				 background-position: center;
				 background-repeat: no-repeat;
				 background-size: 100% 100%;
			}
			#secondroom {
				 background-image: url("../img/ktv/room 2.JPG");
				 background-position: center;
				 background-repeat: no-repeat;
				 background-size: 100% 100%;
			}
			#thirdroom {
				background-image: url("../img/ktv/room3.JPG");
				 background-position: center;
				 background-repeat: no-repeat;
				 background-size: 100% 100%;
			}
		}
	}
	.martinas {
		width: 100%;
		
		height: 500px;
		border:1px solid black;
		padding: 10px;
		padding-top: 50px;
		.martinascontainer {
			width: 97%;
			height: 400px;
			border:3px solid  lightgray;
			margin: 0 auto;
			@include transitionConfiguration(ease , .3s);
			&:hover {
				@include boxShadow(0px , 0px , 15px , #2a2a2a);
			}
			.martinastitle {
				height: 20%;
				width: 100%;
				background-color: #2a2a2a;
				opacity: 0.9;
				//border-bottom: 1px solid black;
				h3 {
					width: 100%;
					height: 100%;
					font-size: 2em;
					text-align: center;
					line-height: 250%;
					color:whitesmoke;
				}
			}
			.imageslider {
				width: 100%;
				height: 80%;
				border-top:1px solid #fff;
				background-image: url("../img/martinas.JPG");
				background-position: center;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				@include transitionConfiguration("linear" , .2s);
				.slidercontainer {
					width: 100%;
					height:70px;
					border: 1px solid black;
					 margin-top: 20%;
					.slider {
						height: 100%;
						width: 50px;
					}
					.slider:first-child {
						float: left;
						margin-right: 800px;
						margin-left:50px;
					}
					.slider:last-child {
						float: right;
						margin-right: 50px;
					}
				}
				.details {
					margin: 0 auto;
					margin-top: 18%;
					height: 50px;
					width: 120px;
					border: 3px solid whitesmoke;
					text-align: center;
					@include boxShadow(0px , 0px , 10px , #1a1a1a);
					a{
						font-weight:bold;
						width:100%; 
						height: 100%;
						display: block;
						padding-top: 13px;
						text-decoration: none;
						color:whitesmoke;
					}
				}
			}
		}
	}
}
#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow:hidden;
	z-index: 1;
	opacity: 0.9;
	#overlaybuttoncontainer {

		height:100px;
		width: 100%;
		padding-top: 30px;

		#overlaybutton {
			width: 70px;
			float: right;
			height: 100%;
			margin-right: 10%;
			border-radius: 100%;
			img {
				width: 70%;
				height: 80%;
				box-shadow: 0px , 0px , 5px , gray;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.overlayimg {
		width: 50%;
		margin :0 auto;
		border: 3px solid white;
		height: 55%;
		margin-top: 2%;
		background-position: center;
		opacity:1;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	    @include transitionConfiguration(linear , .2s);
		&:hover {
			@include boxShadow(0px , 0px , 10px , gray);
		}
		img {
			z-index: 2;
			opacity: 1;
		}
	}
	.description {
		width: 50%;
		height: 100px;
		margin: 0 auto;
		border:1px solid white;
		background-color:#000;
		color:white;
		padding-top: 30px;
		text-align: center;
		margin-top: 10px;
		@include textShadow(0px , 0px , 5px , #1a1a1a);
		@include boxShadow(0px , 0px , 15px , #1a1a1a);
	}
}
.facilitiesbanner {
	height: 350px;
	width: 100%;
	padding-top: 20%;
	background-image: url("../img/banner for facilities.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100% 100%;
	.facilitiestxt {
		width: 100%;
		font-size: 2em;
		padding-left: 1em;
		opacity: 0.9;
		color:whitesmoke;
		@include textShadow(0px, 0px , 5px , #000);
	}
}		
#facilitiescontainer {
	background-color: $gallery;
	width: 100%;
	height: 1000px;
	//border: 1px solid black;

	.facilitiesdivider {
		width: 100%;
		height: 50%;
		//border: 1px solid black;
		//padding: 50px;
		.containers {
			height: 300px;
			height: 90%;
			width: 46%;
			border: 3px solid lightgray;
			float: left;
			margin: 10px;
			padding-top: 25%;
			.moreinfo {
				width: 130px;
				height: 50px;
				border: 3px solid whitesmoke;
				margin: 0 auto;
				@include boxShadow(0px , 0px , 10px , #1a1a1a);
				@include transitionConfiguration(linear , .2s);
				&:hover {
					background: $gallery;
					opacity: 0.7;
					a {
						color:#000;
						text-shadow:0px 0px  0px none;
					}
				}
				a {
					display: block;
					width: 100%;
					height: 100%;
					text-align: center;
					padding: 10px 15px;
					padding-top: 10px;
					padding-bottom: 15px;
					text-decoration: none;
					color:whitesmoke;
					font-weight: bold;
					@include transitionConfiguration(linear , .2s);
				}
			}
		}

	}
}		

#coffteacontainer {
	background-image: url("../img/coffteahistoryimg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#martinascontainer {
	background-image: url("../img/facilities/_MG_3618.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#ktvcontainer {
	background-image: url("../img/facilities/_MG_3574.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#lagocontainer {
	background-image: url("../img/facilities/lago site.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.marginLeft {
	margin-left: 30px;
}


.contactusbanner {
	background-image: url("../img/bannerimg/CONTACT US BANNER.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.servicesbanner {
	background-image: url("../img/bannerimg/SERVICES BANNER.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.gallerybanner {
	background-image: url("../img/bannerimg/gallery banner.jpg");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
#gallerycontainer {
	width: 100%;
	height: auto;
	border:1px solid black;
	.gallerydevider {
		width: 100%;
		height: 50%;
		padding: 30px;
		border: 1px solid black;
		.gallerycatalog {
			width: 45.5%;
			height: 300px;
			border: 1px solid black;
			display: inline-block;
			padding-top: 10%;
			text-align: center;
			.captiongallery  {
				color:whitesmoke;
				font-size: 2em;
				p {
					color: whitesmoke;
				}
			}
			.moreimg {
				width: 100px;
				height: 50px;
				margin: 0 auto;
				margin-top: 30px;
				border: 1px solid whitesmoke;
				a {
					text-decoration: none;
					height: 100%; width: 100%;
					color:whitesmoke;
					display: block;
					padding-top: 13px;
				}
			}
		}
		.gallerycatalog:first-child {
			margin-right: 30px;
			margin-left: 3.1%;
		}
		#gallerybands {
			background-image: url("../img/gallery/bands.JPG");
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}